<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="demo_maraphon.Properties.Settings.g463_zhmurov_demoConnectionString"
            connectionString="Data Source=LAPTOP-EGMGP0FI;Initial Catalog=g463_zhmurov_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>